<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UFT-8">
    <meta name="viewpoint" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} WEATHER {% endblock %}</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.js"></script>
    <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react-router-dom/5.2.0/react-router-dom.js"
            integrity="sha512-LOOlcIrzggklo15g/pbJis06755L5SZYg2RZEUw7t8k/aALW/atg2qg6h8oSLIvk25ulbzhz/p4LH2PUYa+rLw==" 
            crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
        crossorigin="anonymous"></script>

    <!-- FONTS TBD -->
    <!-- AWESOME FONT ICONS -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.11/css/all.css">
    <!-- partly sunny/cloudy: <i class='fas fa-cloud-sun'></i> -->

    <!-- CSS -->

    <!-- below: for flavicon error -->
    <link rel="icon" href="data:,">

</head>
<body>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="alert alert-{{ category }} alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                    <i>{{ message }}</i>
            </div>
        {% endfor %}
    {% endif %}
    {% endwith %}
    <div id='root'></div>

    <script type='text/jsx' src='static/js/display-weather.jsx'></script>
    <script type='text/jsx' src='static/js/search.jsx'></script>
    <script type='text/jsx' src='static/js/home.jsx'></script>
    <script type='text/jsx' src='static/js/app.jsx'></script>

</body>
</html>